body{
    padding: 0;
    margin: 0;
    font-size: 20px;
    /* font-family: 'Aclonica';font-size: 22px; */
}
.inputtext{
    font-size: 20px;
    border: 2px solid rgb(85, 8, 85);
    margin: 10px;
    margin-top: 30px;
}
.btn, .copyBtn{
    background-color:rgb(233, 152, 233);
    margin-left: 10px;
}
.outputtext{ font-size: 20px;
    border: 2px solid rgb(85, 8, 85);
    /* font-family: 'Aclonica';font-size: 22px; */
    width: 90%;
    margin: 10px;
}
.output{
    opacity: 0;
}
.frq{border: 2px solid rgb(85, 8, 85);
    width: 70px;
    font-size: 20px;
}
.st-btn {
    margin: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }